/* Container for the expand/collapse conponent */
.expand-collapse-container {
    padding: 20px;
    background-color: #080808;
    border-radius: 8px;
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expand-button,
.collapse-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 60px;
}

.expand-button {
    margin-right: 20px;
}

.collapse-button {
    margin-right: 20px;
}

.see-all {
    font-size: 16px;
    color: white;
    cursor: pointer;
}

/* Image gallery styling */
.image-gallery {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.nav-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.images {
    display: flex;
    overflow: hidden;
}

.images img {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    border-radius: 8px;
}

.imagess {
    width: 50px;
    height: 50px;
}

.zoom-image {
    transition: transform 0, 3s ease;
}

.zoom-image:hover {
    transform: scale(1.1);
}
