.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  background-color: black;
  color: #ffffff;
  height: auto;
  box-sizing: border-box;
}

.container h4 {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.list-container {
  width: 100%;
}

.list-container h2 {
  cursor: pointer;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
}

.list {
  background-color: #160b0b;
  border-radius: 8px;
  padding: 10px;
}

.item {
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #ffffff;
  cursor: grab;
  text-align: left;
}


.participant {
  display: flex;
  background-color: #24253c;
  padding: 9px;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.item:active {
  cursor: grabbing;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color:#160b0b;;
  padding: '5px';
  border-radius: '15%';
  border: '2px solid transparent';
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  float: right;
}
.icon-container:hover {
  background-color: #c2185b;
}
.icon-container-muted {
  background-color: #c2185b;
}


.host {
  color: #9090ff;
}
